# macOS system files
.DS_Store
.AppleDouble
.LSOverride
*.dSYM

# macOS specific ignore files (https://github.com/github/gitignore/blob/master/Global/macOS.gitignore)
*.icns
*.plist
*.dmg
*.app

# Xcode files
xcuserdata/
*.xcworkspacedata
*.xcuserstate

# Siv3D
## Ignore dependencies folder
/Dependencies/boost_1_73_0/*
/Dependencies/boost_1_74_0/*

## Third party libraries
!**/simde/*

## Ignore compiled binaries
/Siv3D/lib/*/Siv3D_d.lib
/Siv3D/lib/*/Siv3D_d.idb
/Siv3D/lib/*/Siv3D.lib
/Siv3D/lib/*/Siv3D.idb
/Siv3D/lib/macOS/siv3d/libSiv3D.a
/Siv3D/lib/*/siv3d.a
**/App/*.app
**/App/*.exe
**/App/Siv3DTest
*.jppmdl

## Ignore any saved local files
**/App/*.html
**/App/AS_DEBUG/
**/App/Screenshot/
**/App/engine/

# example Wavefront .obj files
!**/example/obj/
!**/example/obj/*.obj

addon/
include/
lib/
bns-gamejam.xcodeproj/
