# macOS system files
.DS_Store
.AppleDouble
.LSOverride
*.dSYM

# macOS specific ignore files (https://github.com/github/gitignore/blob/master/Global/macOS.gitignore)
*.icns
*.dmg
*.app

# Xcode files
xcuserdata/
*.xcworkspacedata
*.xcuserstate

# CMake files (Uncomment if you are using CMake)
#CMakeLists.txt.user
#CMakeCache.txt
#CMakeFiles
#CMakeScripts
#Testing
#Makefile
#cmake_install.cmake
#install_manifest.txt
#compile_commands.json
#CTestTestfile.cmake

# Siv3D specific ignores
# Ignore compiled binaries and local files
**/App/*.app
**/App/*.exe
**/App/Siv3DTest

# Siv3D dependencies that should not be tracked
/Dependencies/boost_1_73_0/*
/Dependencies/boost_1_74_0/*

# Siv3D libraries
/Siv3D/lib/macOS/siv3d/libSiv3D.a

# Local files that should not be tracked
**/App/*.html
**/App/AS_DEBUG/
**/App/Screenshot/

# Include your project specific folders if necessary
# For example, if you have a folder named 'resources' for your resources, add:
#/resources/

# If you're using additional build folders, ignore them
/build/

icon.icns
Info.plist
bns-gamejam.xcodeproj/
App/engine/